shell/node_modules
shell/dist
nav/node_modules
nav/dist
home/node_modules
home/dist
contact/node_modules
contact/dist
fragment/node_modules
fragment/dist
contact1/node_modules
contact1/dist
fragment1/node_modules
fragment1/dist